.movie-item-wrapper {
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.movie-item-wrapper:hover > img {
    filter: brightness(50%);
}

.movie-item-wrapper:hover > .movie-item-details {
   visibility: visible;
}

.movie-item-details {
    visibility: hidden;
}

.movie-item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-width: 220px;
}

.movie-item-details::-webkit-scrollbar {
    display: none;
}

.movie-item-title {
    color: var(--color-text-primary);
    word-break: break-word;
    font-size: 25px;
    margin-top: 50%;
}

.movie-item-release-date, .movie-item-vote-average, .movie-item-genre {
    color: var(--color-text-primary);
    font-size: 16px;
}

.movie-item-overview {
    margin-top: 5px;
    color: var(--color-text-primary);
    font-size: 16px;
}

.movie-item-image-fallback{
    width: 220px;
    height: 330px;
    background: burlywood;
}


.expand {
    width: 100%;
    transition: all 0.25s ease-out;
    animation: createBox 2s;
    display: flex;
}
@keyframes createBox {
    from {
        display: none;
    }
    to {
        display: block;
    }
}



/*.no-expanded {*/
/*    display: none;*/
/*}*/

.expanded {
    width: 100%;
}

.video-iframe{
    width: 100%;
    height: 100%;
}
