.movie-list-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie-list-loading-div {
    display: flex;
    justify-content: center;
}

.movie-list-loading {
    width: 5vw;
}